@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/ubuntu-regular.ttf");
}
h1 {
	font-family: "Ubuntu";
	padding-top: 100px;
	font-size: 100px;
	color: white;
}
p {
	font-family: "Ubuntu";
	font-size: 30px;
	color: white;
}
#homeHead {
	font-family: "Ubuntu";
	font-size: 30px;
	color: white;
	padding-bottom: 100px;
}
@media only screen and (max-width: 768px min-width: 575px) {
	#homeHead {
		font-family: "Ubuntu";
		font-size: 30px;
		color: white;
	}
}
@media only screen and (max-width: 575px) {
	#homeHead {
		font-family: "Ubuntu";
		font-size: 30px;
		color: white;
		margin-top: 100px;
	}
}
#jumboDesc {
	padding-top: 100px;
	font-family: "Ubuntu";
	font-size: 30px;
	color: white;
}
/*The header for the about collumn*/
#about {
	font-family: "Ubuntu";
	padding: 50px 0 10px 0;
	font-size: 30px;
	color: black;
}
/*Styling for the body of the about collumn*/
#aboutContent {
	font-family: "Ubuntu";
	color: black;
	font-size: 20px;
}
/*Styling the links at the collumn*/
#aboutContentLink {
	font-family: "Ubuntu";
	color: black;
	font-size: 18px;
}
/*Title for each post*/
#blogTitle {
	font-family: "Ubuntu";
	font-size: 30px;
	padding: 50px 0 0px 0;
}
/*The date and such under the title*/
#blogCap{
	font-family: "Ubuntu";
	color: black;
	font-size: 15px;
}
/*The body of the posts*/
#blogContent {
	font-family: "Ubuntu";
	font-size: 20px;
	color: black;
}
/*The lines on the side collumn for the home page*/
#aboutSideHome {
	margin: 0;
	padding: 0;
	width: 100%;
}
/*The lines for the side collumn for every other page*/
#aboutSide {
	margin-top: 0;
	border-color: black;
	width: 10%;
}
#footerLine {
	margin-top: 0;
	border-color: white;
	width: 100%;
}
/*Icon styling*/
#icons {
	width: 15px;
	height: 15px;
}
#iconsNav {
	width: 50px;
	height: 50px;
}
/*Headers for the other pages*/
#otherPGHead {
	font-family: "Ubuntu";
	padding-top: 50px;
	font-size: 100px;
	color: black;
}
/*Sub head for the other pages*/
#otherSubHead {
	font-family: "Ubuntu";
	font-size: 20px;
	color: black;
}
/*Drop down style*/
#seeAll {
	padding: 0 0 50px 0;
}
/*Line on the head of other pages*/
#headLine {
	margin: 0;
	padding: 0;
	width: 100%;
}
/*links*/
#navLinks {
	font-family: "Ubuntu";
	font-size: 20px;
	color: black;
	padding: 0 10px 0 0;
}
#navLinksOn {
	font-family: "Ubuntu";
	font-size: 20px;
	color: black;
	padding: 0 10px 0 0;
	text-decoration: underline;
}
#contactHe {
	color: white;
	font-size: 20px;
}
#footer {
	margin: 100px 0 0 0;
	padding: 20px 0 20px 0;
	background: #343a40;
}
#footerHead {
	font-size: 30px;
}
#footerLinkHead {
	font-size: 20px;
	color: white;
}
#footerLinks {
	margin: 0;
	color: white;
	font-size: 15px;
	list-style: none;
	text-decoration: none;
}
#footLink {
	color: white;
	transition: all 0.3s ease-in-out;
}
#footLink:hover {
	color: black;
	text-decoration-style: none;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
#footerIcons {
	width: 25px;
	height: 25px;
}
#roundBtn {
	border-radius: 500px;
	padding: 10px 45px 10px 45px;
}
#showHide {
	display: none;
}
@media only screen and (max-width: 575px) { 
	#showHide {
		display: block;
	}
}
hr {
	margin-top: 50px;
	border-color: black;
	width: 25%;
}
a {
	font-family: "Ubuntu";
	text-decoration: none;
}		
li {
	font-family: "Ubuntu";
}	